body, html {
  margin: 0;
  padding: 0;
  background-color: #000000;
}

.header {
  pointer-events: none;
  position: absolute;
  top: 6em;
  left: 0;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 900;
  font-size: 0.8em;
  width: 100%;
  text-align: center;
}

.header > span {
  padding: 0 3.25em;
  letter-spacing: 0.4em;
  position: relative;
}