@font-face {
  font-family: 'Geist Regular';
  src: url('/fonts/Geist-Regular.woff2');
}

@font-face {
  font-family: 'Geist Light';
  src: url('/fonts/Geist-Light.woff2');
}

@font-face {
  font-family: 'Geist ExtraLight';
  src: url('/fonts/Geist-ExtraLight.woff2');
}


.wordmark {
  width: 100vw;
  height: 100vh;
}

.header {
  display: unset;
  pointer-events: auto;
  position: fixed;
  background-color: #000000;
  padding: 20px;
  top: 0;
  left: 0;
  font-family: 'Geist Regular', sans-serif;
  font-weight: 900;
  font-size: 1em;
  width: 100%;
  text-align: center;
  z-index: 1000;
  border-bottom: 1px solid #ffffff;
}


.header > a {
  color: #ffffff;
  text-decoration: none;
  padding: 0 3.25em;
  letter-spacing: 0em;
  position: relative;
}


html {
  overflow-y: scroll;
  background: rgb(40,40,48);
  background: linear-gradient(90deg, rgba(40,40,48,1) 0%, rgba(10,33,255,1) 57%, rgba(255,17,17,1) 100%);
}

body, html {
  margin: 0;
  padding: 0;
  height: 100vh; /* Change this */
}

#root {
  height: 100%;
}

.container {
  padding-top: 2rem;
}

.slider-wrapper {
  position: relative;
  max-width: 28rem;
  margin: 0 auto;
  border: 2px solid #ffffff;
}

.slider {
  display: flex;
  aspect-ratio: 1/1;
  scroll-snap-type: x mandatory;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
  border-radius: 0.5rem;
}

.slider img {
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
}



.slider-nav a {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.75;
  transition: opacity ease 250ms;
}

.slider-nav a:hover {
  opacity: 1;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
}

.slider-button:hover {
  background-color: #ffffff;
  color: #000000;
  border: 2px solid #ffffff;
  transition: all 0.3s ease-in-out;
}

.project-overview {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: auto;
  padding: 3vw;
}

.project-preview {
  width: 20%;
  height: 20%;
  object-fit: cover;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.project-preview:hover {
  transform: scale(1.05);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  max-width: 800px;
  width: 90%;
  max-height: 90%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  position: relative;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
}

.project-image {
  width: 100%;
  height: auto;
  margin-top: 10px;
  border-radius: 10px;
}


.slider-button {
  max-width: 8rem;
  color: #ffffff;
  font-family: 'Geist Regular', sans-serif;
  margin-top: 4rem;
  padding: 1rem 3rem;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
  font-size: 1rem;
  border: 2px solid #ffffff;
  border-radius: 2rem;
}

h1 {
  color: white;
  font-family: 'Geist Regular', sans-serif;
  font-size: 5em;
  display: flex;
  justify-content: left;
  align-items: left;
  margin: 0;
  padding-left: 3vw;
}

.projectpreview {
  color: white;
  font-family: 'Geist Light', sans-serif;
  font-size: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding-left: 3vw;
  padding-top: 7.5vh;
  padding-bottom: 7.5vh;
}

.projects {
  position: relative;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  padding-top: 10vh;
}

.contact {
  position: relative;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  padding-top: 10vh;
}

.about {
  position: relative;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  padding-top: 10vh;
}

h2 {
  color: white;
  font-family: 'Geist Light', sans-serif;
  font-size: 2.5em;
  display: flex;
  justify-content: left;
  align-items: left;
  margin: 0;
  padding-left: 3vw;
}

.tilt-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; for mobile */
  gap: 5rem;
  width: 100%;
  height: 100%;
}

.tilt-item {
  position: relative;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.tilt-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}



.introduction {
  /* border-top: 1px solid #ffffff; */
  padding-top: 15vh;
  padding-bottom: 15vh;
}

.skills {
  /* border-top: 1px solid #ffffff; */
  padding-top: 15vh;
  padding-bottom: 15vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Center the grid container */
}

.skill-1, .skill-2, .skill-3 {
  display: grid;
  grid-template-columns: auto 50px; /* Allocate more space to the text and less to the image */
  align-items: center; /* Vertically align items */
  gap: 1vw; /* Reduce the space between text and image */
  margin-bottom: 2rem; /* Add some space between skill items */
  max-width: 600px; /* Set a max-width for the grid container */
  width: 100%; /* Ensure the grid container takes full width up to max-width */
}

.skill-1 img, .skill-2 img, .skill-3 img {
  width: 50px; /* Set a consistent width for images */
  height: auto; /* Maintain aspect ratio */
}

.projects-main {
  /* border-top: 1px solid #ffffff; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 5vh;
  padding-top: 5vh;
}



.canvas {
  display: unset;
  scroll-snap-align: start;
  height: 100vh;
}

.hamburger-menu {
  position: relative;
  display: none;
}

.hamburger-icon {
  font-size: 2rem;
  background: none;
  border: none;
  color: #ffffff;
  cursor: pointer;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
}

.hamburger-icon.hidden {
  display: none;
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.close-icon {
  font-size: 2rem;
  background: none;
  border: none;
  color: #ffffff;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
}

.menu-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-links a {
  color: #ffffff;
  text-decoration: none;
  font-size: 2rem;
  margin: 10px 0;
  font-family: 'Geist Regular', sans-serif;
}

.wordmark {
  max-width: 100%;
  height: auto;
}

.wordmarksection {
  height: 100vh;
}

.wordmarksectionmobile {
  height: 100vh;
  display: none;
}

@media (max-width: 1482px) {
  .tilt-container {
    flex-direction: column;
  }

  .projectpreview {
    padding-left: 5vw;
    padding-right: 5vw;
    text-align: center;
    justify-content: center;
  }

  .introduction {
    padding-left: 5vw;
    padding-right: 5vw;
    text-align: center;
    justify-content: center;
  }

  .skills {
    padding-left: 5vw;
    padding-right: 5vw;
  }
}

@media (max-width: 920px) {

  .header {
    display: none;
  }

  .hamburger-menu {
    display: block;
  }

  .wordmarksection {
    height: 60vh;
    display: none;
    justify-content: center;
    align-items: center;
  }

  canvas {
    overflow-y: hidden;
  }

  .wordmarksectionmobile {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
  }

  .skills {
    padding-left: 10vw;
    padding-right: 10vw;
  }

  h1 {
    text-align: center;
    justify-content: center;
    padding: 0;
    font-size: 2em;
  }

  h2 {
    text-align: center;
    justify-content: center;
    padding: 0;
    font-size: 1.5em;
  }

  .skills {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .skill-1 img, .skill-2 img, .skill-3 img {
    display: none;
  }

  .skill-1, .skill-2, .skill-3 {
    display: flex;
    flex: auto;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    max-width: unset;
  }

  .projects-main {
    padding-top: 0;
  }

  .projectpreview {
    font-size: 2em;
    padding-left: 10vw;
    padding-right: 10vw;
  }

}