@font-face {
  font-family: 'Geist Regular';
  src: url('/fonts/Geist-Regular.woff2');
}

@font-face {
  font-family: 'Geist Light';
  src: url('/fonts/Geist-Light.woff2');
}

@font-face {
  font-family: 'Geist ExtraLight';
  src: url('/fonts/Geist-ExtraLight.woff2');
}


body, html {
  margin: 0;
  padding: 0;
  background-color: #000000;
}

.container {
  padding-top: 2rem;
}

.slider-wrapper {
  position: relative;
  max-width: 28rem;
  margin: 0 auto;
  border: 2px solid #ffffff;
}

.slider {
  display: flex;
  aspect-ratio: 1/1;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
  border-radius: 0.5rem;
}

.slider img {
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
}

.slider-nav {
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.slider-nav a {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.75;
  transition: opacity ease 250ms;
}

.slider-nav a:hover {
  opacity: 1;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
}

.slider-button:hover {
  background-color: #ffffff;
  color: #000000;
  border: 2px solid #ffffff;
  transition: all 0.3s ease-in-out;
}

.slider-button {
  max-width: 8rem;
  background-color: #000000;
  color: #ffffff;
  font-family: 'Geist Regular', sans-serif;
  margin-top: 4rem;
  padding: 1rem 3rem;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
  font-size: 1rem;
  border: 2px solid #ffffff;
  border-radius: 2rem;
}

h1 {
  color: white;
  font-family: 'Geist Regular', sans-serif;
  font-size: 5em;
  display: flex;
  justify-content: left;
  align-items: left;
  margin: 0;
  padding-left: 3vw;
}

.projectpreview {
  color: white;
  font-family: 'Geist Light', sans-serif;
  font-size: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding-top: 7.5vh;
  padding-bottom: 7.5vh;
}

.projects {
  position: relative;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  padding-top: 10vh;
}

.contact {
  position: relative;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  padding-top: 10vh;
}

.about {
  position: relative;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  padding-top: 10vh;
}


h2 {
  color: white;
  font-family: 'Geist Light', sans-serif;
  font-size: 2.5em;
  display: flex;
  justify-content: left;
  align-items: left;
  margin: 0;
  padding-left: 3vw;
}


.introduction {
  border-top: 1px solid #ffffff;
  padding-top: 15vh;
  padding-bottom: 15vh;
}

.projects-main {
  border-top: 1px solid #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  padding-bottom: 5vh;
  padding-top: 5vh;
}

.header {
  display: unset;
  pointer-events: auto;
  position: fixed;
  background-color: #000000;
  padding: 20px;
  top: 0;
  left: 0;
  font-family: 'Geist Regular', sans-serif;
  font-weight: 900;
  font-size: 1em;
  width: 100%;
  text-align: center;
  z-index: 1;
  border-bottom: 1px solid #ffffff;
}

.header > a {
  color: #ffffff;
  text-decoration: none;
  padding: 0 3.25em;
  letter-spacing: 0em;
  position: relative;
}





html {
  scroll-snap-type: y mandatory;
}

.canvas {
  display: unset;
  scroll-snap-align: start;
  height: 100vh;
}