body, html {
  margin: 0;
  padding: 0;
  background-color: #000000;
}

.header {
  pointer-events: auto;
  position: fixed;
  background-color: #ffffff;
  padding: 20px;
  top: 0;
  left: 0;
  color: #000000;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 900;
  font-size: 1em;
  width: 100%;
  text-align: center;
}

.header > a {
  color: #000000;
  text-decoration: none;
  padding: 0 3.25em;
  letter-spacing: 0em;
  position: relative;
}


.h1 {
  padding-top: 2vh;
  padding-bottom: 2vh;
  background-color: #ffffff;
  color: #000000;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 4em;
  padding-left: 2vw;
}

.paragraph {
  padding-left: 2vw;
  padding-right: 10vw;
  color: #ffffff;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2em;
}